---
layout: page
titles:
  ko: Category
show_title: false
---
<div class="layout--archive js-all">
  <div class="js-result layout--archive__result">
    {%- for c in site.data.categories -%}
    {%- assign id = c.category.id -%}
      <section>
        <h2 class="year">{{ c.category.name }}</h2>
        <ul>
          {%- for post in site.posts -%}
          {%- include snippets/prepend-baseurl.html path=post.url -%}
          {%- assign _href = __return -%}
          {%- if post.categories contains id -%}
          <li>
            <span class="date">{{ post.date | date: '%Y-%m-%d' }}</span>
            <a class="link" href="{{_href}}">{{ post.title }}</a>
          </li>
          {%- endif -%}
          {%- endfor -%}
        </ul>
      </section>
    {%- endfor -%}
  </div>
</div